@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.main {
    margin: auto;
    max-width: 1400px;
}

.siteIcon {
    background-image: URL('../images/faviconBig.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-left: 8px;
    margin-right: 20px;
}

.content {
    padding: 10px;
    background-image: linear-gradient(lightgray,white);
}

.content p {
    text-align: justify;
}
.title{
    font-family: Bebas Neue;
    font-size: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.subtitle{
    margin-left: 80px;
    font-family: Bebas Neue;
    font-size: 30px;
    margin-bottom: 30px;
}
p{
    margin-left: 120px;
    font-size: 20px;
    font-family: Quicksand;
    line-height: 40px;
    text-align: justify;
    width: 80%;
    margin-bottom: 50px;
}
.source{
    font-size: 15px;
    color: rgb(108, 108, 108);
    text-align: center;
}
.imageCadreNormal{
    display: flex;
    flex-direction: row;
}
.image{
    width: 400px;
    margin-top: 20%;
    margin-right: 100px;
}
.imageCadreReverse{
    display: flex;
    flex-direction: row-reverse;
}
.imageReverse{
    margin-left: 100px;
    margin-top: 20%;
    height: 250px;
}
.audioControl{
    margin-left: 10%;
    width: 500px;
}
.descriptionMusique{
    font-size: 30px;
    margin-left: 150px;
    font-family: Bebas Neue;
}

@media screen and (max-width: 1200px){
    .imageCadreNormal{
        flex-direction: column;
    }
    .imageCadreReverse{
        flex-direction: column;
    }
    .image{
        margin-top: 0px;
        margin-left: 30%;
    }
    .imageReverse{
        margin-left: 25%;
    }
}